# Core app
streamlit==1.41.1
pandas==2.2.3
numpy==2.0.2

# Machine learning
scikit-learn==1.6.0
imbalanced-learn==0.13.0
joblib==1.4.2

# Visualisation
plotly==5.24.1

# Optionnel pour le profiling
# ydata-profiling==4.12.1
# phik==0.12.4
# statsmodels==0.14.4
